.Module{
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgb(253, 253, 253);
  border-radius: 5px;
  background-color: rgb(177, 216, 221);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.Module:hover{
  background-color: rgb(195, 227, 240);
}
.activeModule{
  background-color: rgb(74, 174, 204);
}
