.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid rgb(35, 110, 116);
  border-radius: 5px;
  background-color: rgb(187, 209, 226);
}