.Board {
  flex: 1;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow-x: auto;
}
.container{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.container>div{
  flex: 1 0 350px;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  border: 1px solid #ccc;
  background-color: rgb(174, 200, 211);
  overflow-y: auto;
}
